@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #2c3333;
  @apply text-white;
}

/* Add styles to the scrollbar */
::-webkit-scrollbar {
  width: 0.7em; /* Set the width of the scrollbar */
}

/* Style the thumb (the part of the scrollbar that you can drag) */
::-webkit-scrollbar-thumb {
  background-color: #7ed6df; /* Set the background color of the thumb */
  border-radius: 0.4em; /* Set the border radius of the thumb */
}

/* Style the track (the part of the scrollbar that the thumb sits on) */
::-webkit-scrollbar-track {
  background-color: white; /* Set the background color of the track */
}
